
.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.column.fade.visible.transition {
  margin-bottom: 20px !important;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.chatBtn {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.chatBox {
  position: fixed !important;
  bottom: 2px;
  right: 100px;
  z-index: 1024;
  max-height: 90%;
  margin: 0 !important;
}
.chatBox .userList > .item > .content {
  word-break: break-word;
}
.chatBox .userList > .item > .image {
  padding: 0 !important;
}
.chatBox .messageList {
  padding-bottom: 1rem !important;
}
.messageList .signleMsg {
  padding: 1rem 0.5rem 0 !important;
}
.signleMsg > .msgText {
  padding: 0 0.5rem !important;
}
.msgText > .message {
  max-width: 100%;
  word-break: break-word;
}
.signleMsg > .msgAvatar {
  padding: 0 !important;
}
